.modal {
  background-color: #e3f0f4;
  border-radius: 0.5rem;
  height: 20rem;
  padding: 2rem 2.2rem;
  pointer-events: auto;
  width: 20rem;
}

.modal__button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.modal__button--resume {
  background-color: rgb(1, 174, 254);
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
  width: 100%;
}

.modal__description {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}
